<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Showrooms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SaveServlet</display-name>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>com.sharath.servlet.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadServlet</display-name>
    <servlet-name>ReadServlet</servlet-name>
    <servlet-class>com.sharath.servlet.ReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadServlet</servlet-name>
    <url-pattern>/ReadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadByName</display-name>
    <servlet-name>ReadByName</servlet-name>
    <servlet-class>com.sharath.servlet.ReadByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadByName</servlet-name>
    <url-pattern>/ReadByName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDealsWIth</display-name>
    <servlet-name>UpdateDealsWIth</servlet-name>
    <servlet-class>com.sharath.servlet.UpdateDealsWIth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDealsWIth</servlet-name>
    <url-pattern>/UpdateDealsWIth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteByNameAndDealsWith</display-name>
    <servlet-name>DeleteByNameAndDealsWith</servlet-name>
    <servlet-class>com.sharath.servlet.DeleteByNameAndDealsWith</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteByNameAndDealsWith</servlet-name>
    <url-pattern>/DeleteByNameAndDealsWith</url-pattern>
  </servlet-mapping>
</web-app>